@import "./variables";
@import "./mixins/buttons";
@import "./functions";

// button
.login__button_social {
    height: 50px;
    > img {
        object-fit: contain;
        height: 40px;
        width: 100%;
    }
}

.d-button__trans-light:active,
.d-button__trans-light:hover {
    background-color: transparent !important;
}

.checkbox__check-mark {
    border-color: #f5f5f5 !important;
}
