@import "./variables";
@import "./mixins/buttons";
@import "./functions";

// button
.login__button_social {
    height: 50px;
    > img {
        object-fit: contain;
        height: 40px;
        width: 100%;
    }
}

.d-button__trans-light:active,
.d-button__trans-light:hover {
    background-color: transparent !important;
}

.checkbox__check-mark {
    border-color: $gold-color !important;
}

.checkbox__container
    .checkbox__input-wrapper
    .checkbox__input:checked
    ~ .checkbox__check-mark {
    background-color: $gold-color !important;
}

.border-gold {
    border-color: $gold-color !important;
}

.d-modal__children {
    padding: 0px !important;
}

.d-input-text__input-container {
    @media (max-width: 576px) {
        min-height: 42px !important;
    }
}

.d-button {
    &:hover {
        background-color: transparent !important;
    }
    &:active {
        background-color: transparent !important;
        opacity: 50%;
    }
}
