@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #041b47;
    --primary-color-hover: rgba(4, 27, 27, 0.9);
    --body-font-family: "Poppins", "sans-serif";
    height: 100% !important;
}

body {
    font-family: var(--body-font-family);
    background-color: #cad3e5;
    height: 100% !important;
}

button {
    background-color: unset;
}

