@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-font-family: "Raleway", "sans-serif";
    height: 100% !important;
}

body {
    font-family: var(--body-font-family);
    background-color: #cad3e5;
    height: 100% !important;
}